SECRET_KEY=STRONG_KEY_HERE
DEBUG=True
DJANGO_ALLOWED_HOSTS=localhost 127.0.0.1 [::1]
DB_ENGINE=django.db.backends.sqlite3
DATABASE=db.sqlite3

# Same as for React APP
GITHUB_OAUTH_CLIENT_ID     = 265495b74ce62042abe2
GITHUB_OAUTH_CLIENT_SECRET = 7a747c56bf0bc6dff44c1462c8aa3ecbe2ccf345